node_modules
.docker
.local
.vscode
.git
*.map
/test
/temp
/dist
.dockerignore
.gitignore
.npmrc
.prettierignore
.prettierignore-default
Jenkinsfile
package.json
package-lock.json
/node_modules
/output
/temp
/test-*
/log
/generated